body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
footer{
  border-top: 1px #dadde1 solid;
}
footer .footer-copy{
  margin-bottom: .5rem;
  font-weight: 600;
  text-align: center;
}
.flex-row{
  display: flex;
  justify-content: center;
}
.navbar{
  background-color:#202932;
}
.navbar .nav .nav-item .nav-link{
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
.landing{
    width:100%;
    min-height: 100vh;
    color: #fff;
    background-color: #c6d4db;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    text-align:center;   
}

.landing .navbar .nav .nav-item .nav-link:hover,
.landing .navbar .nav .nav-item .nav-link:active{
   border-bottom-color: #fff;
}
.landing .navbar .nav .nav-item .nav-link:active{
    border-color: #a2a2a2;
}

.landing h1{
    margin-top: 15vh;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.05rem;
}
.landing p{
    margin-top:10vh;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
}
.landing p.call-to-action{
  margin-top:10vh;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.15rem;
  letter-spacing: 0.01rem;
  text-shadow: #232e34;
  
}
.landing .btn{
    margin-top: 1vh;
    padding: 0px;
    font-weight: 600;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    text-align: center;
    cursor: default;
}
.section{
  width: 100%;
  min-height: 100vh;  
  padding-bottom: 2rem;
  z-index: -5;
}
.section header{
  width:100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight:600;
  text-align: center;
  z-index: 5;
}
.section .card{
  margin-bottom: 2rem;
  border-color: transparent;
  opacity: 100%;
  box-shadow: 16px 16px 8px 8px #232e346d;  
  box-shadow: 16px 16px -8px -8px #232e346d;
}
.section .card .card-header{  
  color: #fff;
  background-color: #232e34;
}
.section .card .card-header h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.section .card .card-body ul li{
  font-weight: 1rem;
}

@keyframes pulseAnimation {
    0% {
      color: #dcdcdc;
    }
    50% {
      color: #5068f2; /* Lighter shade for emphasis */
    }
    100% {
      color: #dcdcdc;
    }
  }
  
  .landing .btn .bi {
    font-size: 3.25rem;
    cursor: pointer;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    animation: pulseAnimation 2s ease-in-out infinite;
  }
  
  .landing .btn .bi:hover {
    animation-play-state: paused;
    color: #dcdcdc;
    /* Consider adding a subtle hover animation here, e.g., transform: scale(1.05); */
  } 
  
  .services, .partners{
    background-color:rgba(237, 237, 237, 0.1)
  }
  .clients{
    background-color:rgba(237, 237, 237, 0.405)
  }
.clients, .partners{
  min-height: 50vh;
}

.partners .partner,
.clients .client{
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.partners .logo,
.clients .logo{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #a9aeb1;
}
.partners .link,
.clients .link{
  width: 100%;
  text-align: center;
}
.partners .link .bi{
  font-size: 1.1rem;
}
  @media screen and (min-width: 1024px) {
    .landing .navbar .nav .nav-item .nav-link{
        font-size: 1.25rem;
    }
    .landing h1{
        font-size: 3.25rem;
    }
    .landing p{
        margin-top:15vh;
        font-size: 1.5rem;
    }
    .landing p.call-to-action{
      margin-top:15vh;      
    }
    
    .section .card{
      margin-bottom: 2rem;
    }
  }