body{
  color: #fff;
  font-family: 'fantasy';   
  background-color: #fff;
  background-image: url('../images/network.png');
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
}
footer{   
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 2px #d1d1d19b solid;
}
footer .col-12{
  border-bottom: 2px #dcdcdc solid;
}
footer .nav .nav-item .nav-link{
  color: #000;
  font-size: .95rem;
  font-weight: 600;
}
footer .nav .nav-item .nav-link:hover,
footer .nav .nav-item .nav-link:focus{
  text-decoration:underline 2px #000 solid;
}
.footer .nav .nav-item p.nav-link{
  color: #000;
  font-size: .95rem;
  font-weight: 600;
  text-decoration: none;
}
.footer .nav .nav-item p.nav-link a.link{
  color: #000;
  font-size: .95rem;
  font-weight: 600;
  text-decoration: none;
}
.footer .nav .nav-item p.nav-link a.link:hover{
  text-decoration: underline 2px #000 solid;
}
footer .nav .nav-item .nav-link.list-header{
 border-bottom: 2px #000 solid; 
}
footer .nav .nav-item .nav-link.list-header:hover{
  color: #000;  
  text-decoration: none;
 }
footer .nav .nav-item .nav-link.list-header h6{
  font-weight: 600;
  text-decoration: none;
}
footer .nav .nav-item .nav-link.list-header h6:hover{
  text-decoration: none;
}
footer .footer-copy{
  margin-bottom: .5rem;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
  color: #000;
  border-top: 1px #808080 solid;
}
.flex-row{
  display: flex;
  justify-content: center;
}
.flex-row .col-md-5{
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2rem;
}
.navbar{
  padding:5px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar .navbar-brand{
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.navbar .nav .nav-item .nav-link{
  color: #000;
  font-size: 1.05rem;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
.navbar .nav .nav-item .nav-link:hover,
.navbar .nav .nav-item .nav-link:active{
   border-bottom-color:  #8D021F;
}
.navbar .nav .nav-item .nav-link:active{
    border-color: #a2a2a2;
}
.navbar .navbar-toggler{
  border: 2px #dcdcdc solid;
}
.navbar .navbar-toggler:active,
.navbar .navbar-toggler:hover{
  border-width: 2px;  
  border: 2px #aeaeae solid;
  box-shadow: 0px 0px 0px 0px #fff;
}

.navbar .nav .dropdown-menu{
  padding-left: 5px;
  padding-right: 5px;
  background-color:  #fff;
  box-shadow: 2px 2px 4px 4px #8d022099;
}
.navbar .nav .dropdown-menu .dropdown-item{
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color:  #fff;
  
}
.navbar .nav .dropdown-menu .dropdown-item:hover{
  background-color: #dcdcdc;
}
.section{
  width: 100%;
  min-height: 100vh;  
  padding-bottom: 2rem;
  z-index: -5;
  background-color: #ffffffea;
}
.section .icon{
  color: #fff;
}
.section header{
  width:100%;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight:600;
  color: #000;
  text-align: center;
  z-index: 5;
  text-decoration: underline #23297A;
}
.section .card{
  margin-bottom: 2rem;
  background-color: #ffffffc1;
  border-color: transparent;
  opacity: 100%;
}
.section .card .card-header{  
  color: #000;
  background-color: #fff;
  border: 0px solid;
  text-align: center;
}
.section .card .card-header h2{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.section .card .card-body ul li{
  font-weight: 1rem;
}
.section .card .card-body{
  color: #000;
  font-weight: 550;
}
.section .card .card-body,
.section .card .card-footer{  
  border: 0px solid;
}
.section .icon{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60px;
  height: 60px;
}
.landing{
    width:100%;
    height: 100vh;
    color: #000;
    background-image: url('../images/landing-image.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    text-align:center;   
}

.landing h1{
    margin-top: 10vh;
    font-size: 2.25rem;
    font-weight: 700;
}
.landing p{
    margin-top: 10vh;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
}
.landing p.call-to-action{
  margin-top: 4vh;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15rem;
  letter-spacing: 0.01rem;
  text-shadow: #000d59;
  
}
.landing .btn{
    margin-top: .5vh;
    padding: 0px;
    font-weight: 600;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    text-align: center;
    cursor: default;
}

@keyframes pulseAnimation {
    0% {
      color: #FFF;
    }
    50% {
      color:#0e27b3; /* Lighter shade for emphasis */
    }
    100% {
      color: #ffF;
    }
  }
  
  .landing .btn .bi {
    font-size: 3.25rem;
    cursor: pointer;
    text-shadow: 0 0 2px #8D021F; /* Subtle shadow */
    animation: pulseAnimation 2s ease-in-out infinite;
  }
  
  .landing .btn .bi:hover {
    animation-play-state: paused;
    color: #ad465d;
    /* Consider adding a subtle hover animation here, e.g., transform: scale(1.05); */
  } 
  .services .card{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 8px 2px #6a7ad9;
  }
  .services .card .card-header{   
    line-height: 1.15rem;
    font-size: 1.25rem;
    font-weight:600;
  }
  .services .card .card-body{
    font-size: 1.10rem;
  }
  .services .card .card-footer .btn{
    font-weight: 600;
    color: #fff;
    border-color: #23297A;
    background-color: #23297A;
  }
  .services .card .card-footer .btn:hover{
    border-color: #3841ba;
    background-color: #3841ba;
  }
.services header,
.clients header,
.partners header{
  margin-top: 2.25rem;
}
.clients, .partners{
  min-height: 50vh;
}

.partners .partner,
.clients .client{
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.partners .logo,
.clients .logo{
  width: 100px;
  height: 100px;
  margin-bottom: .5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px #6a7ad9;
}

.partners .logo:hover,
.clients .logo:hover{
  box-shadow: 2px 2px 8px 2px #404e9e;
}
.partners .link,
.clients .link{
  width: 100%;
  color: #000;
  text-align: center;
}
.partners .link .bi,
.clients .link .bi{
  font-size: 1.5rem;
  color: #000d59;
}
.partners .link .bi:hover,
.clients .link .bi:hover{
  color: #000d5975;
}
.contact .nav .nav-item .nav-link{
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
}
.contact .nav .nav-item .nav-link:hover> span{
  border-bottom: 2px solid;
}
.contact .card{
  background-color: #ffffffe3;
  box-shadow: 2px 2px 6px 6px #6a7ad9;
}
.contact .card .card-header{
  padding: 0px;
  color: #fff;
  font-size: 2rem;
}
.contact .card .card-footer{
  text-align: center;
}
.contact .card .card-footer .btn{
  font-size: 1.05rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #000d59;
  border-color: #000d59;
}
.contact .card .card-footer .btn:hover{
  background-color:#3841ba;
  border-color: #3841ba;
}
.modal .modal-dialog .modal-content .modal-header{
  width: 100%;
  color: #000;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}
.contact .modal .modal-dialog .modal-content{
  background-color: #fff;
}
.contact-form .form-control{
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.contact-form label{
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.contact-form .form-control::placeholder{
 font-weight: 600;
}
.contact-form .btn{
  min-width:25%;
  font-weight: 600;
}
.contact-form .btn-cancel{
  color: #fff;
  background-color: #000d59;
  border-color: #000d59;
}
.contact-form .btn-cancel:hover{
  background-color:#28309d;
  border-color: #28309d;
}
.contact-form .btn-save{
  color: #000;
  background-color:  #b29a71;
  border-color: #b29a71;
}
.contact-form .btn-save:hover{
  background-color:  #d7ba89cb;
  border-color: #D7BA89;
}
.text-block{
  display: block;
  color: #000;
  font-size: 1.05rem;
  font-weight: 500;
  text-align: center;
}
.text-block span a{
  color: #000;
  font-weight: 600;
  text-decoration: none;
  }
.text-block span a:hover{
    color: #8c99e0;
}
.section .page-header{
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .navbar .nav .nav-item .nav-link{
        font-size: 1.05rem;
    }
    .landing h1{
        font-size: 3.25rem;
    }
    .landing p{
        margin-top:15vh;
        font-size: 1.5rem;
    }
    .landing p.call-to-action{
      margin-top:15vh;      
    }
    .section .page-header{
      font-size: 3.25rem;
      text-align: center;
    }
    .section .card{
      margin-bottom: 2rem;
    }
    .text-block{
      display: block;
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
    }
    
  }