body{
  color: #fff;
  background-color:#0c0f46;
}

.footer {
  border-top-color: #0c0f46;
  background-color: #0c0f46;
}
.footer .card{
  border-color: transparent;
  background-color: transparent;
}
.footer .card .card-header{
  color:#fff;
  border-bottom-color: transparent;
}
.footer .col-6{
  border-bottom: 2px #dcdcdc solid;
}
.footer .nav .nav-item .nav-link{
  color: #fff;
}
.footer .nav .nav-item .nav-link:hover,
.footer .nav .nav-item .nav-link:focus{
    text-decoration:underline 2px #fff solid;
  }
.footer .nav .nav-item p.nav-link{
    color: #fff;
}
.footer .nav .nav-item p.nav-link a.link{
    color: #fff;
}
.footer .nav .nav-item p.nav-link a.link:hover{
  text-decoration: underline 2px #fff solid;
}
.footer .footer-copy{
    color: #fff;
}

  .primary-nav.navbar{
    background-color: #0c0f46;
  }
  .primary-nav.navbar .navbar-brand{
    color: #fff;
  }
  .primary-nav.navbar .navbar-brand:hover,
  .primary-nav.navbar .navbar-brand:active,
  .primary-nav.navbar .navbar-brand:focus{
    color: #bababa;
  }
  .primary-nav.navbar .nav .nav-item .nav-link{
    color: #fff;
    border-bottom-color: transparent;
  }
  .primary-nav.navbar .nav .nav-item .nav-link:hover,
  .primary-nav.navbar .nav .nav-item .nav-link:active{
     border-color: #fff;
  }
  .primary-nav.navbar .navbar-toggler{
    border: 2px #fff solid;
  }
  .primary-nav.navbar .navbar-toggler .bi{
    color: #fff;
  }
  .primary-nav.navbar .navbar-toggler:active,
  .primary-nav.navbar .navbar-toggler:hover{
    border: 2px #aeaeae solid;
  }
  
  .primary-nav.navbar .nav .dropdown-menu{
    background-color:  #0c0f46;
    box-shadow: 2px 2px 3px 2px #0c0f46;
  }
  .primary-nav.navbar .nav .dropdown-menu .dropdown-item{
    color: #fff;
    border-radius: 10px;
    background-color:  #0c0f46;
    border-color: transparent;    
  }
  .primary-nav.navbar .nav .dropdown-menu .dropdown-item:hover{
    background-color: #12186c;
    border-color: #12186c;
  }

  .theme-btn#default-theme{
    border-color: #fff;
    background-color: #fff;
  }
  .theme-btn#red-theme{
    border-color: #8d0217;
    background-color: #8d0217;
  }
  .theme-btn#blue-theme{
    border-color: #23297a;
    background-color: #23297a;
  }
  
  .page-header{
    color: #fff;
  }

  .section{
    background-color: transparent;
  }
  .section .icon{
    color: #fff;
  }
  .section header{
    color: #fff;
    text-align: center;
    background-color: transparent;
  }
  .section .card{
    background-color: transparent;
  }
  .section .card .card-header{  
    color: #fff;
  }
  .section .card .card-body{
    color: #fff;
  }
  .landing{
      color: #fff;
      background-color: #ffffff;
  }
  .call-to-action  .btn{
    color: #fff;
  }
  .landing .btn{
    color: #fff;
    border-color: #fff;
  }

  .landing-services .card{
    border-color: transparent;
  }    
  .landing-services .card .card-footer .btn{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }
  .landing-services .card .card-footer .btn:hover{
    border-color: #12186c;
    background-color: #12186c;
  }

  .partners .logo,
  .clients .logo{
    box-shadow: 2px 2px 8px 2px transparent;
  }
  
  .partners .logo:hover,
  .clients .logo:hover{
    box-shadow: 2px 2px 8px 2px #12186c;
  }
  .partners .link,
  .clients .link{
    color: #fff;
  }
  .partners .link .bi,
  .clients .link .bi{
    color: #fff;
  }
  .partners .link .bi:hover,
  .clients .link .bi:hover{
    color: #7c7c7c;
  }

  .contact .nav .nav-item .nav-link{
    color: #fff;
  }
  .contact .card{
    background-color: transparent;
    box-shadow: 2px 2px 4px 4px #12186c;
  }
  .contact .card .card-header{
    color: #fff;
  }
  .contact .card .card-footer{
    text-align: center;
  }
  .contact .card .card-footer .btn{
    color: #fff;
    background-color: #Be0228;
    border-color: #fff;
  }
  .contact .card .card-footer .btn:hover{
    background-color:#12186c;
    border-color: #12186c;
  }
  
  .modal .modal-dialog .modal-content .modal-header{
    color: #fff;
    background-color:#0c0f46;
  }
  .modal .modal-dialog .modal-content .modal-body{
    background-color: #0c0f46;
  }
  .contact-form .form-control{
    background-color: #ffffff;
  }
  .contact-form label{
    color: #fff;
  }
  .contact-form .btn-cancel{
    color: #fff;
    background-color: #Be0228;
    border-color: #Be0228;
  }
  .contact-form .btn-cancel:hover{
    background-color:#12186c;
    border-color: #12186c;
  }
  .contact-form .btn-save{
    color: #fff;
    background-color:  #6a5a3e;
    border-color: #b29a71;
  }
  .contact-form .btn-save:hover{
    background-color:  #d7ba89cb;
    border-color: #D7BA89;
  }
  .text-block{
    color: #fff;
  }
.text-block span a{
  color: #fff;
}
.text-block span a:hover{
   color: #8c99e0;
}

.page-header{
  text-decoration-color: #fff;
}

.services .card{  
  box-shadow: 2px 2px 4px 4px #fff;
}

.dbr .card .card-header,
.csec .card .card-header,
.infra .card .card-header,
.soft .card .card-header,
.training .card .card-header{
  background-color: transparent;
}
.dbr .btn-demo,
.csec .btn-demo,
.infra .btn-demo,
.soft .btn-demo,
.training .btn-demo{
  color:#fff;
  border-color: #fff;
}
.dbr .btn-demo:hover,
.csec .btn-demo:hover,
.infra .btn-demo:hover,
.soft .btn-demo:hover, 
.training .btn-demo:hover{
  border-color: #6e6e6e;
}
.training .toggler{
  color: #fff;
  text-decoration-color: #fff;
}