body{
  color: #fff;
}
footer{   
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 2px #d1d1d19b solid;
}
footer .col-6{
  border-bottom: 2px #dcdcdc solid;
}
footer .nav .nav-item .nav-link{
  color: #000;
}
  footer .nav .nav-item .nav-link:hover,
  footer .nav .nav-item .nav-link:focus{
    text-decoration:underline 2px #000 solid;
  }
  .footer .nav .nav-item p.nav-link{
    color: #000;
}
  .footer .nav .nav-item p.nav-link a.link{
    color: #000;
  }
  .footer .nav .nav-item p.nav-link a.link:hover{
    text-decoration: underline 2px #000 solid;
  }
  footer .nav .nav-item .nav-link.list-header{
   border-bottom: 2px #000 solid; 
  }
  footer .nav .nav-item .nav-link.list-header:hover{
    color: #000;
   }
 
  footer .footer-copy{
    color: #000;
    border-top: 1px #808080 solid;
  }

  .primary-nav.navbar{
    background-color: #fff;
  }
  .primary-nav.navbar .navbar-brand{
    color: #000;
  }
  .primary-nav.navbar .navbar-brand:hover,
  .primary-nav.navbar .navbar-brand:active,
  .primary-nav.navbar .navbar-brand:focus{
    color: #bebebe;
  }
  .primary-nav.navbar .nav .nav-item .nav-link{
    color: #000;
    border-bottom-color: transparent;
  }
  .primary-nav.navbar .nav .nav-item .nav-link:hover,
  .primary-nav.navbar .nav .nav-item .nav-link:active{
     border-color: #fff;
  }
  .primary-nav.navbar .navbar-toggler{
    border: 2px #fff solid;
  }
  .primary-nav.navbar .navbar-toggler:active,
  .primary-nav.navbar .navbar-toggler:hover{
    border: 2px #aeaeae solid;
  }
  
  .primary-nav.navbar .nav .dropdown-menu{
    background-color:  #fff;
  }
  .primary-nav.navbar .nav .dropdown-menu .dropdown-item{
    color: #000;
    border-radius: 10px;
    background-color:  #fff;
    border-color: transparent;    
  }
  .primary-nav.navbar .nav .dropdown-menu .dropdown-item:hover{
    background-color: #fff;
    border-color: #000;
  }
  .section{
    background-color: #ffffffea;
  }
  .section .icon{
    color: #fff;
  }
  .section header{
    color: #000;
    text-align: center;
    text-decoration-color: #000;
  }
  .section .card{
    background-color: #ffffffc1;
    border-color: transparent;
    opacity: 100%;
  }
  .section .card .card-header{  
    color: #000;
    background-color: #fff;
  }
  .section .card .card-body{
    color: #000;
  }
  .landing{
      color: #000;
      background-color: #ffffffed;
  }
  .call-to-action  .btn{
    color: #fff;
  }
  .landing .btn{
    color: #000;
    border-color: #000;
  }

  .services .card{
    box-shadow: 2px 2px 8px 2px #6a7ad9;
  }    
  .services .card .card-footer .btn{
    color: #fff;
    border-color: #23297A;
    background-color: #23297A;
  }
  .services .card .card-footer .btn:hover{
    border-color: #3841ba;
    background-color: #3841ba;
  }

  .partners .logo,
  .clients .logo{
    box-shadow: 2px 2px 8px 2px #6a7ad9;
  }
  
  .partners .logo:hover,
  .clients .logo:hover{
    box-shadow: 2px 2px 8px 2px #404e9e;
  }
  .partners .link,
  .clients .link{
    color: #000;
  }
  .partners .link .bi,
  .clients .link .bi{
    color: #000d59;
  }
  .partners .link .bi:hover,
  .clients .link .bi:hover{
    color: #000d5975;
  }
  .contact .nav .nav-item .nav-link{
    color: #000;
  }
  .contact .card{
    background-color: #ffffffe3;
    box-shadow: 2px 2px 6px 6px #6a7ad9;
  }
  .contact .card .card-header{
    color: #fff;
  }
  .contact .card .card-footer{
    text-align: center;
  }
  .contact .card .card-footer .btn{
    color: #fff;
    background-color: #000d59;
    border-color: #000d59;
  }
  .contact .card .card-footer .btn:hover{
    background-color:#3841ba;
    border-color: #3841ba;
  }
  .modal .modal-dialog .modal-content .modal-header{
    color: #000;
  }
  .contact .modal .modal-dialog .modal-content{
    background-color: #fff;
  }
  .contact-form .form-control{
    background-color: #ffffff;
  }
  .contact-form label{
    color: #000;
  }
  .contact-form .btn-cancel{
    color: #fff;
    background-color: #000d59;
    border-color: #000d59;
  }
  .contact-form .btn-cancel:hover{
    background-color:#28309d;
    border-color: #28309d;
  }
  .contact-form .btn-save{
    color: #000;
    background-color:  #b29a71;
    border-color: #b29a71;
  }
  .contact-form .btn-save:hover{
    background-color:  #d7ba89cb;
    border-color: #D7BA89;
  }
  .text-block{
    color: #000;
  }
.text-block span a{
  color: #000;
}
.text-block span a:hover{
   color: #8c99e0;
}

.page-header{
  text-decoration-color: #000;
}